/* SPACING SYSTEM (px)
======================
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
=====================
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: rgba(0,0,0,0.8);
}

.container{
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    
}
header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 64px;
    margin-bottom: 44px;

}
.header-title{
    text-transform: capitalize;
    font-size:36px ;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 24px;
    
}

.header-text{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.header-link{
    text-decoration: none;
    background: rgba(0,0,0,0.5);
    padding: 16px 32px;
    color: #FFF;
    border-radius: 5px;
    transition: all 1s linear;
}
.header-link:hover{
    background: transparent;
    color: rgba(0,0,0,0.8);
    border: 1.5px solid #000;
    border-radius: 5px;
}

img{
width: 100%;
}
.three-cols{
  display: grid;  
  grid-template-columns: repeat(3,1fr);
  column-gap: 32px;
}

.three-cols-header{
    font-size: 36px;
    margin-bottom: 48px;
    text-transform: capitalize;
    letter-spacing: -1px;
    text-align: center;
     grid-column: 1 /-1;
}
.three-cols-title{
    font-size: 20px;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.three-cols-text{
    line-height: 1.6;
    
}
.three-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 48px;
}
.testimonal-info{
    align-self: center;
    grid-column: 2/-1;
}