:root {
  --gray: #495057;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  
}
.container {
  min-height: 100vh;
  background-color: orange;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.head {
  font-size: 44px;
  margin-bottom: 32px;
  letter-spacing: -2px;
  
}
.text {
  width: 80%;
  max-width: 568px;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.5;
}

.link {
  text-decoration: none;
  font-size: 20px;
  background-color: orangered;
  text-transform: capitalize;
  display: inline-block;
  padding: 16px 32px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .container-inner {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 768px) {
 
  .container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../electronics/restaurent.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .container-box {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-inner {
    width: 50%;

    
  }
  .text{
    width: 350px;
    
  }
}
