* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  background: aliceblue;
  font-size: 1.6rem;
  list-style: 2.4rem;
}
h2{
    font-size: 4rem;
    line-height: 5.2rem;
    margin-bottom: 2rem;
}
ul{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: capitalize;
}
.btn{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
}
